body {
    background: rgb(225,212,149);
    background: linear-gradient(357deg, rgba(225,212,149,1) 0%, rgba(252,246,215,1) 100%);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    margin: 0;
}

html {
    font-family: 'Kanit', sans-serif;
}

._btn {
    font-family: 'Kanit', sans-serif;
}

.head_qoate {
    position: relative;
    text-align: center;
    display: block;
    padding-top: 50px;
}

h1 {
    color: #8E896F;
    text-align: center;
    margin-bottom: 0;
}

._logo {
    position: relative;
}

._logo > img {
    width: 65px;
}

._qaote {
    padding: 0 20px;
}

._card-wrapper {
    display: block;
    text-align: center;
    padding: 30px 50px;
}
._btn {
    padding: 20px;
    min-width: 200px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    background: gray;
    outline: none;
    cursor: pointer;
}

._card > img {
    width: 250px;
}

.lds-heart {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
transform: rotate(45deg);
transform-origin: 40px 40px;
}
.lds-heart div {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80px;
height: 80px;
background: #faeda8;
animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
content: " ";
position: absolute;
display: block;
width: 80px;
height: 80px;
background: #faeda8;
}
.lds-heart div:before {
left: -42px;
border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
top: -42px;
border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
0% {
transform: scale(0.95);
}
5% {
transform: scale(1.1);
}
39% {
transform: scale(0.85);
}
45% {
transform: scale(1);
}
60% {
transform: scale(0.95);
}
100% {
transform: scale(0.9);
}
}

._card {
height: 250px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 65px;
margin-top: 50px;
}


#overlay {
position: fixed;
width: 100%;
height: 100%;
z-index: 1;
background-color: #8E896F;
opacity: 0;
visibility: hidden;
}

#result {
height: auto;
width: 90%;
border-radius: 25px;
background-color: white;
z-index: 5;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
visibility: hidden;
}
._fade-in {
transition: all 200ms;
opacity: .6 !important;
visibility: visible !important;
}

._fade-in-100 {
transition: all 500ms;
opacity: 1 !important;
visibility: visible !important;
}

.box {
background-color: #FDF7DA;
background-image: url('./images/bg-result.png');
background-size: cover;
border-radius: 10px;
padding: 35px;
display: block;
align-items: center;
flex-direction: column;
max-height: 650px;
overflow-y: auto;
}

.facebook-share {
background: #fff;
color: rgb(87, 207, 244);
cursor: pointer;
display: inline-block;
padding: 1em 2em;
-webkit-border-radius: 6px;
border-radius: 6px;
}
._btn-wrapper {
display: none;
justify-content: center;
}
._btn-2 {
padding: 5px 15px;
font-size: 20px;
border: none;
border-radius: 5px;
color: white;
background: gray;
outline: none;
text-align: center;
cursor: pointer;
margin-right: 10px;
}

._top > h3 {
    text-align: center;
    color: #8E896F;
    font-size: 35px;
    margin: 0;
}

._loading {
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    text-align: center;
}

._desc {
    font-size: 25px;
font-weight: bold;
text-align: center;
padding: 20px;
}

.desc-wrap {
    display: flex;
    max-width: 1000px;
    padding: 35px 0;
    margin: 0 auto;
}

.pic {
    flex: .5;
    z-index: 5;
    height: 100%;
    transition: all 300ms;
}

._top {
    display: block;
    text-align: center;
}

#text {
    flex: 1;
    padding-left: 20px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.desc-wrap > .pic > img {
    width: 100%;

}

._top, ._loading, ._btn-wrapper, ._desc {
    z-index: 5;
}

@media (max-width: 1000px) {
    .head_qoate {
        display: block !important;
    }

    .box {
        max-height: 500px !important;
        background-position: right;
    }

    .desc-wrap {
        flex-direction: column-reverse;
    }

    #text {
        padding: 0  !important;
        margin-bottom: 20px  !important;
    }

    ._desc {
        padding: 0!important;
    }

    ._btn-wrapper {
        flex-direction: column;
        width: 100%;
    }

    ._btn-2 {
        margin-bottom: 15px;
    }
    ._top > h3 {
        font-size: 25px !important;
    }

    .head_qoate {
        padding-top: 20px !important;
    }

    ._card {
        margin-bottom: 50px !important;
        margin-top: 0px !important;
    }
}